In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import squarify
import numpy as np
from scipy.stats import norm
from sklearn.preprocessing import StandardScaler
from scipy import stats
from collections import Counter
from sklearn import preprocessing
from sklearn.preprocessing import Imputer

import warnings
warnings.filterwarnings("ignore")

In [2]:
# reads in GTD after preprocessing
df_unknowns = pd.read_csv("gtd_unknowns_processed.csv")
df = pd.read_csv("gtd_processed.csv")
df.shape

(61670, 19)

In [3]:
df_edu = pd.read_csv("education_index.csv")

df_edu = df_edu.drop(['HDI Rank'], axis=1)
df_edu = pd.melt(df_edu, id_vars=['Country'], value_vars=['1990', '1991', '1992', '1993', '1994', '1995', '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2010', '2011', '2012', '2013', '2014', '2015', '2016'], var_name='Year', value_name='education')

df_edu.to_csv("edu_melted.csv", encoding='utf-8', index=False)
df_edu.shape

(5460, 3)

In [4]:
df_edu = pd.read_csv("edu_melted.csv")

df_unknowns_merge = pd.merge(left=df_unknowns, right=df_edu, how='left', left_on=['iyear','country_txt'], right_on=['Year', 'Country'])
df_unknowns_merge = df_unknowns_merge.drop(['Country', 'Year'], axis=1)
df_unknowns_merge = df_unknowns_merge.drop_duplicates(subset='eventid')

df_unknowns_merge['education'] = df_unknowns_merge['education'].convert_objects(convert_numeric=True)
df_unknowns_merge['education'] = df_unknowns_merge.groupby('country').education.transform(lambda x: x.fillna(x.mean()))

df_unknowns_merge.shape

(126575, 20)

In [5]:
df_edu = pd.read_csv("edu_melted.csv")

df_merge = pd.merge(left=df, right=df_edu, how='left', left_on=['iyear','country_txt'], right_on=['Year', 'Country'])
df_merge = df_merge.drop(['Country', 'Year'], axis=1)
df_merge = df_merge.drop_duplicates(subset='eventid')

df_merge['education'] = df_merge['education'].convert_objects(convert_numeric=True)
df_merge['education'] = df_merge.groupby('country').education.transform(lambda x: x.fillna(x.mean()))

df_merge.shape

(61670, 20)

In [6]:
df_free = pd.read_csv("freedom_index.csv")
df_free = pd.melt(df_free, id_vars=['Country'], value_vars=['1990', '1991', '1992', '1993', '1994', '1995', '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2010', '2011', '2012', '2013', '2014', '2015', '2016'], var_name='Year', value_name='freedom')

df_free.to_csv("free_melted.csv", encoding='utf-8', index=False)
df_free.head(3)

       Country  Year freedom
0  Afghanistan  1990       7
1      Albania  1990       7
2      Algeria  1990       4

In [8]:
df_free = pd.read_csv("free_melted.csv")

df_unknowns_merge = pd.merge(left=df_unknowns_merge, right=df_free, how='left', left_on=['iyear','country_txt'], right_on=['Year', 'Country'])
df_unknowns_merge = df_unknowns_merge.drop(['Country', 'Year'], axis=1)
df_unknowns_merge = df_unknowns_merge.drop_duplicates(subset='eventid')

df_unknowns_merge['freedom'] = df_unknowns_merge['freedom'].convert_objects(convert_numeric=True)
df_unknowns_merge['freedom'] = df_unknowns_merge.groupby('country').freedom.transform(lambda x: x.fillna(x.mean()))

df_unknowns_merge.shape

(126575, 21)

In [9]:
df_free = pd.read_csv("free_melted.csv")

df_merge = pd.merge(left=df_merge, right=df_free, how='left', left_on=['iyear','country_txt'], right_on=['Year', 'Country'])
df_merge = df_merge.drop(['Country', 'Year'], axis=1)
df_merge = df_merge.drop_duplicates(subset='eventid')

df_merge['freedom'] = df_merge['freedom'].convert_objects(convert_numeric=True)
df_merge['freedom'] = df_merge.groupby('country').freedom.transform(lambda x: x.fillna(x.mean()))

df_merge.shape

(61670, 21)

In [10]:
df_gni = pd.read_csv("gni_per_cap.csv")

df_gni = df_gni.drop(['Country Code', 'Indicator Name', 'Indicator Code'], axis=1)
df_gni = pd.melt(df_gni, id_vars=['Country'], value_vars=['1990', '1991', '1992', '1993', '1994', '1995', '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2010', '2011', '2012', '2013', '2014', '2015', '2016'], var_name='Year', value_name='gni_per_cap')

df_gni.to_csv("gni_melted.csv", encoding='utf-8', index=False)
df_gni.head(3)

       Country  Year  gni_per_cap
0        Aruba  1990          NaN
1  Afghanistan  1990          NaN
2       Angola  1990       2840.0

In [11]:
df_gni = pd.read_csv("gni_melted.csv")

df_unknowns_merge = pd.merge(left=df_unknowns_merge, right=df_gni, how='left', left_on=['iyear','country_txt'], right_on=['Year', 'Country'])
df_unknowns_merge = df_unknowns_merge.drop(['Country', 'Year'], axis=1)
df_unknowns_merge = df_unknowns_merge.drop_duplicates(subset='eventid')

df_unknowns_merge['gni_per_cap'] = df_unknowns_merge['gni_per_cap'].convert_objects(convert_numeric=True)
df_unknowns_merge['gni_per_cap'] = df_unknowns_merge.groupby('country').gni_per_cap.transform(lambda x: x.fillna(x.mean()))
df_unknowns_merge['gni_per_cap'] = df_unknowns_merge.groupby('iyear').gni_per_cap.transform(lambda x: x.fillna(x.mean()))

df_unknowns_merge.shape

(126575, 22)

In [12]:
df_gni = pd.read_csv("gni_melted.csv")

df_merge = pd.merge(left=df_merge, right=df_gni, how='left', left_on=['iyear','country_txt'], right_on=['Year', 'Country'])
df_merge = df_merge.drop(['Country', 'Year'], axis=1)
df_merge = df_merge.drop_duplicates(subset='eventid')

df_merge['gni_per_cap'] = df_merge['gni_per_cap'].convert_objects(convert_numeric=True)
df_merge['gni_per_cap'] = df_merge.groupby('country').gni_per_cap.transform(lambda x: x.fillna(x.mean()))
df_merge['gni_per_cap'] = df_merge.groupby('iyear').gni_per_cap.transform(lambda x: x.fillna(x.mean()))

df_merge.shape

(61670, 22)

In [13]:
df_gov_conf = pd.read_csv('gov_conflict.csv')
df_gov_conf = df_gov_conf[['year', 'best_fatality_estimate', 'location']]

df_gov_conf.head(3)

   year  best_fatality_estimate location
0  1991                      70    Haiti
1  1993                      37    Haiti
2  1994                      44    Haiti

In [14]:
df_unknowns_merge = pd.merge(left=df_unknowns_merge, right=df_gov_conf, how='left', left_on=['iyear', 'country_txt'], right_on=['year', 'location'])
df_unknowns_merge = df_unknowns_merge.drop(['location', 'year'], axis=1)
df_unknowns_merge = df_unknowns_merge.drop_duplicates(subset='eventid')

df_unknowns_merge = df_unknowns_merge.fillna(value = {'best_fatality_estimate': 0})

df_unknowns_merge.shape

(126575, 23)

In [15]:
df_merge = pd.merge(left=df_merge, right=df_gov_conf, how='left', left_on=['iyear', 'country_txt'], right_on=['year', 'location'])
df_merge = df_merge.drop(['location', 'year'], axis=1)
df_merge = df_merge.drop_duplicates(subset='eventid')

df_merge = df_merge.fillna(value = {'best_fatality_estimate': 0})

df_merge.shape

(61670, 23)

In [16]:
df_imm = pd.read_csv('immigration.csv')
df_imm = df_imm[['Year', 'Country', 'Immigrants']]

df_imm.head(3)

   Year                 Country Immigrants
0  1990                   WORLD  152542373
1  1990  More developed regions   82391619
2  1990  Less developed regions   70150754

In [17]:
df_unknowns_merge = pd.merge(left=df_unknowns_merge, right=df_imm, how='left', left_on=['iyear', 'country_txt'], right_on=['Year', 'Country'])
df_unknowns_merge = df_unknowns_merge.drop(['Year', 'Country'], axis=1)
df_unknowns_merge = df_unknowns_merge.drop_duplicates(subset='eventid')

df_unknowns_merge['Immigrants'] = df_unknowns_merge['Immigrants'].convert_objects(convert_numeric=True)
df_unknowns_merge['Immigrants'] = df_unknowns_merge.groupby("country").Immigrants.transform(lambda x: x.fillna(x.mean()))

df_unknowns_merge.shape

(126575, 24)

In [18]:
df_merge = pd.merge(left=df_merge, right=df_imm, how='left', left_on=['iyear', 'country_txt'], right_on=['Year', 'Country'])
df_merge = df_merge.drop(['Year', 'Country'], axis=1)
df_merge = df_merge.drop_duplicates(subset='eventid')

df_merge['Immigrants'] = df_merge['Immigrants'].convert_objects(convert_numeric=True)
df_merge['Immigrants'] = df_merge.groupby("country").Immigrants.transform(lambda x: x.fillna(x.mean()))

df_merge.shape

(61670, 24)

In [19]:
df_life = pd.read_csv("life_expectancy.csv")

df_life = df_life.drop(['Country Code', 'Indicator Name', 'Indicator Code'], axis=1)
df_life = pd.melt(df_life, id_vars=['Country'], value_vars=['1990', '1991', '1992', '1993', '1994', '1995', '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2010', '2011', '2012', '2013', '2014', '2015', '2016'], var_name='Year', value_name='life_exp')

df_life.to_csv("life_exp_melted.csv", encoding='utf-8', index=False)
df_life.head(3)

       Country  Year   life_exp
0        Aruba  1990  73.389976
1  Afghanistan  1990  49.857805
2       Angola  1990  41.669488

In [20]:
df_life = pd.read_csv("life_exp_melted.csv")

df_unknowns_merge = pd.merge(left=df_unknowns_merge, right=df_life, how='left', left_on=['iyear','country_txt'], right_on=['Year', 'Country'])
df_unknowns_merge = df_unknowns_merge.drop(['Country', 'Year'], axis=1)
df_unknowns_merge = df_unknowns_merge.drop_duplicates(subset='eventid')

df_unknowns_merge['life_exp'] = df_unknowns_merge['life_exp'].convert_objects(convert_numeric=True)
df_unknowns_merge['life_exp'] = df_unknowns_merge.groupby('country').life_exp.transform(lambda x: x.fillna(x.mean()))

df_unknowns_merge.shape

(126575, 25)

In [21]:
df_life = pd.read_csv("life_exp_melted.csv")

df_merge = pd.merge(left=df_merge, right=df_life, how='left', left_on=['iyear','country_txt'], right_on=['Year', 'Country'])
df_merge = df_merge.drop(['Country', 'Year'], axis=1)
df_merge = df_merge.drop_duplicates(subset='eventid')

df_merge['life_exp'] = df_merge['life_exp'].convert_objects(convert_numeric=True)
df_merge['life_exp'] = df_merge.groupby('country').life_exp.transform(lambda x: x.fillna(x.mean()))

df_merge.shape

(61670, 25)

In [22]:
df_pop = pd.read_csv("pop_density.csv")

df_pop = df_pop.drop(['Country Code', 'Indicator Name', 'Indicator Code'], axis=1)
df_pop = pd.melt(df_pop, id_vars=['Country'], value_vars=['1990', '1991', '1992', '1993', '1994', '1995', '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2010', '2011', '2012', '2013', '2014', '2015', '2016'], var_name='Year', value_name='pop_den')

df_pop.to_csv("pop_den_melted.csv", encoding='utf-8', index=False)
df_pop.head(3)

       Country  Year     pop_den
0        Aruba  1990  345.272222
1  Afghanistan  1990   18.762237
2       Angola  1990    9.762927

In [23]:
df_pop = pd.read_csv("pop_den_melted.csv")

df_unknowns_merge = pd.merge(left=df_unknowns_merge, right=df_pop, how='left', left_on=['iyear','country_txt'], right_on=['Year', 'Country'])
df_unknowns_merge = df_unknowns_merge.drop(['Country', 'Year'], axis=1)
df_unknowns_merge = df_unknowns_merge.drop_duplicates(subset='eventid')

df_unknowns_merge['pop_den'] = df_unknowns_merge['pop_den'].convert_objects(convert_numeric=True)
df_unknowns_merge['pop_den'] = df_unknowns_merge.groupby('country').pop_den.transform(lambda x: x.fillna(x.mean()))

df_unknowns_merge.shape

(126575, 26)

In [24]:
df_pop = pd.read_csv("pop_den_melted.csv")

df_merge = pd.merge(left=df_merge, right=df_pop, how='left', left_on=['iyear','country_txt'], right_on=['Year', 'Country'])
df_merge = df_merge.drop(['Country', 'Year'], axis=1)
df_merge = df_merge.drop_duplicates(subset='eventid')

df_merge['pop_den'] = df_merge['pop_den'].convert_objects(convert_numeric=True)
df_merge['pop_den'] = df_merge.groupby('country').pop_den.transform(lambda x: x.fillna(x.mean()))

df_merge.shape

(61670, 26)

In [25]:
df_pov = pd.read_csv("poverty_gap.csv")
df_pov = df_pov.drop(['Value Footnotes'], axis=1)

df_pov.head(3)

   Country  Year  Value
0  Albania  2012   0.10
1  Albania  2008   0.03
2  Albania  2005   0.08

In [26]:
df_unknowns_merge = pd.merge(left=df_unknowns_merge, right=df_pov, how='left', left_on=['iyear','country_txt'], right_on=['Year', 'Country'])
df_unknowns_merge = df_unknowns_merge.drop(['Country', 'Year'], axis=1)
df_unknowns_merge = df_unknowns_merge.drop_duplicates(subset='eventid')

df_unknowns_merge['Value'] = df_unknowns_merge['Value'].convert_objects(convert_numeric=True)
df_unknowns_merge['Value'] = df_unknowns_merge.groupby('country').Value.transform(lambda x: x.fillna(x.mean()))
df_unknowns_merge = df_unknowns_merge.fillna(value = {'Value': 0})

df_unknowns_merge.shape

(126575, 27)

In [27]:
df_merge = pd.merge(left=df_merge, right=df_pov, how='left', left_on=['iyear','country_txt'], right_on=['Year', 'Country'])
df_merge = df_merge.drop(['Country', 'Year'], axis=1)
df_merge = df_merge.drop_duplicates(subset='eventid')

df_merge['Value'] = df_merge['Value'].convert_objects(convert_numeric=True)
df_merge['Value'] = df_merge.groupby('country').Value.transform(lambda x: x.fillna(x.mean()))
df_merge = df_merge.fillna(value = {'Value': 0})

df_merge.shape

(61670, 27)

In [28]:
df_ref = pd.read_csv("refugees.csv")

df_ref = df_ref.drop(['Country Code', 'Indicator Name', 'Indicator Code'], axis=1)
df_ref = pd.melt(df_ref, id_vars=['Country'], value_vars=['1990', '1991', '1992', '1993', '1994', '1995', '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2010', '2011', '2012', '2013', '2014', '2015', '2016'], var_name='Year', value_name='refugees')

df_ref.to_csv("ref_melted.csv", encoding='utf-8', index=False)
df_ref.head(3)

       Country  Year  refugees
0        Aruba  1990       NaN
1  Afghanistan  1990      50.0
2       Angola  1990   11557.0

In [29]:
df_ref = pd.read_csv("ref_melted.csv")

df_unknowns_merge = pd.merge(left=df_unknowns_merge, right=df_ref, how='left', left_on=['iyear','country_txt'], right_on=['Year', 'Country'])
df_unknowns_merge = df_unknowns_merge.drop(['Country', 'Year'], axis=1)
df_unknowns_merge = df_unknowns_merge.drop_duplicates(subset='eventid')

df_unknowns_merge['refugees'] = df_unknowns_merge['refugees'].convert_objects(convert_numeric=True)
df_unknowns_merge['refugees'] = df_unknowns_merge.groupby('country').refugees.transform(lambda x: x.fillna(x.mean()))

df_unknowns_merge.shape

(126575, 28)

In [30]:
df_ref = pd.read_csv("ref_melted.csv")

df_merge = pd.merge(left=df_merge, right=df_ref, how='left', left_on=['iyear','country_txt'], right_on=['Year', 'Country'])
df_merge = df_merge.drop(['Country', 'Year'], axis=1)
df_merge = df_merge.drop_duplicates(subset='eventid')

df_merge['refugees'] = df_merge['refugees'].convert_objects(convert_numeric=True)
df_merge['refugees'] = df_merge.groupby('country').refugees.transform(lambda x: x.fillna(x.mean()))

df_merge.shape

(61670, 28)

In [31]:
df_sch = pd.read_csv("school_enroll_primary.csv")

df_sch = df_sch.drop(['Country Code', 'Indicator Name', 'Indicator Code'], axis=1)
df_sch = pd.melt(df_sch, id_vars=['Country'], value_vars=['1990', '1991', '1992', '1993', '1994', '1995', '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2010', '2011', '2012', '2013', '2014', '2015', '2016'], var_name='Year', value_name='primary_enroll')

df_sch.to_csv("school_melted.csv", encoding='utf-8', index=False)
df_sch.head(3)

       Country  Year  primary_enroll
0        Aruba  1990             NaN
1  Afghanistan  1990       30.091150
2       Angola  1990       78.258499

In [32]:
df_sch = pd.read_csv("school_melted.csv")

df_unknowns_merge = pd.merge(left=df_unknowns_merge, right=df_sch, how='left', left_on=['iyear','country_txt'], right_on=['Year', 'Country'])
df_unknowns_merge = df_unknowns_merge.drop(['Country', 'Year'], axis=1)
df_unknowns_merge = df_unknowns_merge.drop_duplicates(subset='eventid')

df_unknowns_merge['primary_enroll'] = df_unknowns_merge['primary_enroll'].convert_objects(convert_numeric=True)
df_unknowns_merge['primary_enroll'] = df_unknowns_merge.groupby('country').primary_enroll.transform(lambda x: x.fillna(x.mean()))

df_unknowns_merge.shape

(126575, 29)

In [33]:
df_sch = pd.read_csv("school_melted.csv")

df_merge = pd.merge(left=df_merge, right=df_sch, how='left', left_on=['iyear','country_txt'], right_on=['Year', 'Country'])
df_merge = df_merge.drop(['Country', 'Year'], axis=1)
df_merge = df_merge.drop_duplicates(subset='eventid')

df_merge['primary_enroll'] = df_merge['primary_enroll'].convert_objects(convert_numeric=True)
df_merge['primary_enroll'] = df_merge.groupby('country').primary_enroll.transform(lambda x: x.fillna(x.mean()))

df_merge.shape

(61670, 29)

In [34]:
df_unknowns_merge.rename(columns={'best_fatality_estimate':'gov_conf', 'Immigrants':'immigrants', 'Value':'pov_gap'}, inplace=True)
#df_merge = df_merge.drop(['eventid'], axis=1)
df_unknowns_merge = df_unknowns_merge.dropna(axis=0, how='any')

df_unknowns_merge.to_csv("qfactors_terrorism_unknowns.csv", encoding='utf-8', index=False)

In [35]:
df_merge.rename(columns={'best_fatality_estimate':'gov_conf', 'Immigrants':'immigrants', 'Value':'pov_gap'}, inplace=True)
#df_merge = df_merge.drop(['eventid'], axis=1)
df_merge = df_merge.dropna(axis=0, how='any')

df_merge.to_csv("qfactors_terrorism.csv", encoding='utf-8', index=False)